/*FIRST COLUMN*/
.calculator {
	border: 1px solid #dfdfdf;
	border-top: 3px solid $orange;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 10px 30px 0 rgba(0,0,0,.2);
	margin-bottom: 10px;
	&__options,
	&__btn {
		padding: 0 25px 0 30px;
	}
	.header {
		padding: 25px 25px 25px 30px;
	}
	.title {
		@include font(16,24,700);
		color: #000;
		text-transform: uppercase;
	}
	.sub-title {
		@include font(15,15,600);
		margin-bottom: 7px;
	}
	.header {
		display: table;
		width: 100%;
		&__item {
			display: table-cell;
			vertical-align: middle;
			&:last-child {
				text-align: right;
			}
		}
		.toggle {
			@include font(13,20);
			border-bottom: 1px dashed $orange;
			position: relative;
			margin-right: 17px;
			&::after {
				content: "";
				position: absolute;
				display: block;
				right: -17px;
				top: calc(50% - 4px);
				@include sprite($icon_select);
				transition: 0.2s linear;
			}
			&:hover,
			&:focus {
				border-bottom-color: transparent;
				text-decoration: none;
				color: $orange;
			}
		}
	}
	&__options {
		.select,
		.date,
		.time-dots {
			margin-bottom: 15px;
			select {
				padding: 10px 7px;
			}
		}
		table {
			border-collapse: collapse;
			width: 100%;
			.date {
				width: 133px;
				margin-right: 2px;
				input {
					padding: 11px 7px;
				}
			}
			.select {
				width: 58px;
				float: right;
			}
			.time-dots {
				font-size: 1.5em;
			}
		}
	}
	&__total {
		padding: 15px 30px;
		background: #0d60ae;
		@include font(22,22);
		color: #fff;
	}
	&__btn {
		margin: 35px 0 40px;
		button {
			width: 266px;
		}
	}
	form {
		display: none;
	}
	&--act {
		form {
			display: block;
		}
		.toggle {
			&::after {
				transform: rotate(180deg);
			}
		}
	}
}

/*Second column*/
.car-card {
	.panel {
		display: table;
		height: 45px;
		width: 100%;
		border-radius: 5px;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
		background: #1268b3;
		background: linear-gradient(to bottom, #1671b9 0%,#0d60ae 100%);
		&__item {
			display: table-cell;
			vertical-align: middle;
			color: #fff;
			@include font(13,20,600);
			border-right: 1px solid #2976ba;
			border-left: 1px solid #105ea2;
			text-align: center;
			&:first-child  {
				border-left:0;
			}
			&:last-child  {
				border-right:0;
			}
		}
	}
	.slider-nav {
		margin-top: 5px;
		&__item {
			display: block;
			margin: 5px 0;
			position: relative;
			padding-bottom: 100%;
			overflow: hidden;
			img {
				position: absolute;
				width: 100%;
				top:0;
				right:0;
				bottom:0;
				left: 0;
				opacity: .3;
				transition: all .4s ease-out;
			}
			&:hover {
				img {
					opacity: 1;
					transform: scale(1.05);
				}
			}
			&--act {
				img {
					opacity: 1;
				}
			}
		}
	}
	.panel-table {
		border: 1px solid #dfdfdf;
		border-radius: 5px;
		background: #f4f4f4;
		box-shadow: 0 10px 30px 0 rgba(0,0,0,.1);
		margin-bottom: 20px;
		&__row {
			display: table;
			width: 100%;
			.panel-table__item {
				display: table-cell;
				vertical-align: middle;
				padding: 0 7px;
			}
			&:first-child {
				background: #1268b3;
				background: linear-gradient(to bottom, #1671b9 0%,#0d60ae 100%);
				height: 45px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
				.panel-table__item {
					color: #fff;
					@include font(10,14);
					text-transform: uppercase;
				}
			}
			&:nth-child(even) {
				height: 55px;
				background: #fff;
				border-bottom: 1px solid #dfdfdf;
				.panel-table__item {
					color: #282828;
					@include font(13,14);
				}
			}
			&:last-child {

				background: linear-gradient(to bottom, #ececec 0%,#ffffff 100%);
				.panel-table__item {
					@include font(15,35,700);
					color: $blue;
				}
			}
			&:nth-child(even),
			&:last-child {
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}
	}
	.book {
		display: table;
		width: 100%;
		margin-bottom: 30px;
		&__item {
			display: table-cell;
			vertical-align: middle;
			&:first-child {
				width: 195px;
			}
		}
		.select {
			width: 195px;
			select {
				height: 73px;
				border-radius: 5px;
				padding-left: 15px;
				@include font(18,21);
			}
		}
		.total {
			box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
			background: linear-gradient(to bottom, #1671b9 0%,#0d60ae 100%);
			padding: 26px 20px;
			border-radius: 5px;
			@include font(18,21,700);
			color: #fff;
		}
		button {
			float: right;
		}
	}
	.card-block {
		position: relative;
		overflow: hidden;
		padding: 35px 0 25px;
		&::before {
			position: absolute;
			content: "";
			display: block;
			top: 0;
			left: 0;
			right: 0;
			height: 12px;
			background: linear-gradient(to bottom, #e5e5e5 0%, #f8f8f8 50%, #fff 100%);
		}
	}
	.accordion {
		.title {
			display: block;
			span {
				display: inline-block;
				border-bottom: 1px dashed $orange;
			}
			&:hover {
				color: $orange;
				text-decoration: none;
				span {
					border-bottom-color: transparent;
				}
			}
			&:focus {
				color: $orange;
			}
		}
		.block {
			padding-left: 45px;
			position: relative;
			&::before {
				position: absolute;
				content: "";
				display: block;
				top: 0;
				left: 0;
				@include sprite($icon_accordion);
			}
		}
	}
	.review {
		padding-top: 10px;
		&__item {
			padding: 25px 0;
			border-bottom: 1px solid #dcdcdc;
		}
	}
}

/* Third column */
.aside {
	padding-left: 30px;
	h4:first-child {
		margin-top: -4px;
	}
	.tech-table {
		margin: 20px 0 30px;
		&__item {
			color: #6f6f6f;
			@include font(15,35);
			&:before {
				content: "";
				display: inline-block;
				vertical-align: text-top;
				margin-right: 13px;
			}
			span {
				font-weight: 700;
			}
			&:nth-child(1){
				&::before{
					@include sprite($tech_01);
				}
			}
			&:nth-child(2){
				&::before{
					@include sprite($tech_02);
				}
			}
			&:nth-child(3){
				&::before{
					@include sprite($tech_04);
				}
			}
			&:nth-child(4){
				&::before{
					@include sprite($tech_04);
				}
			}
			&:nth-child(5){
				&::before{
					@include sprite($tech_05);
				}
			}
			&:nth-child(6){
				&::before{
					@include sprite($tech_06);
				}
			}
			&:nth-child(7){
				&::before{
					@include sprite($tech_07);
				}
			}
			&:nth-child(8){
				&::before{
					@include sprite($tech_08);
				}
			}
			&:nth-child(9){
				&::before{
					@include sprite($tech_09);
				}
			}
			&:nth-child(10){
				&::before{
					@include sprite($tech_10);
				}
			}
			&:nth-child(11){
				&::before{
					@include sprite($tech_11);
				}
			}
			&:nth-child(12){
				&::before{
					@include sprite($tech_12);
				}
			}
		}
	}
	.call {
		padding: 25px 0;
		margin-bottom: 25px;
		border-bottom: 3px solid $orange;
		color: $orange;
		@include font(22,28,300);
		a {
			font-weight: 700;
		}
	}
	.rules {
		&__title {
			color: $blue;
			text-transform: uppercase;
			padding: 5px 0;
			margin-top: 10px;
		}
		span {
			color: $orange;
			font-weight: 700;
		}
	}
	.form {
		border-top: 3px solid $orange;
		border-bottom: 3px solid $orange;
		box-shadow: 0 10px 30px 0 rgba(0,0,0,.2);
	}
}


.q {
	text-indent: -9999px;
	margin-left: 15px;
	display: inline-block;
	@include sprite($q);
}
