.body>.footer {
	background: $bkg-footer;
	padding: 55px 0 17px;
	position: relative;
	margin-top: 30px;
}

.footer-nav {
	.title {
		@include font(16,24,700);
		color: #000;
		margin-bottom: 10px;
	}
	span,
	a,
	.sub-title {
		@include font(13,24);
		span {
			@include font(13,24,$context: 13);
		}
	}
	.sub-title {
		font-weight: 700;
	}
	a {
		display: block;
		color: #3d4646;
		&:hover {
			color: #000;
		}
	}
}
.footer-panel {
	padding: 17px 0;
	border-top: #e0e0e0;
	margin-top: 17px;
	border-top: 1px solid #e0e0e0;
	@include clearfix;
	&__item {
		float:right;
		&:last-child {
			float: left;
		}
	}

	.search {
		position: relative;
		margin: 0 20px;
		input {
			@include font(16, 24);
			padding: 4px 20px 4px 10px;
			width: 185px;
			color: #3d4646;
			border: 1px solid #d4d4d4;
		}
		label {
			text-indent: -9999px;
			display: inline-block;
			@include sprite($icon_search);
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
		}
	}

	.btn {
		margin-left: 5px;
	}

	.copyright {
		@include font (13,22);
	}
}
