
.slider-main-wrapper {
	position: relative;
	margin-right: -30px;
	margin-bottom: 70px;
}
/**** SLIDER ****/
.slider-main {
	&__item {
		margin-right: 30px;
		padding: 70px 40px;
		img {
			margin: 0 20px 10px 0;
			float: left;
		}
	}
}
/**** ARROWS ****/
.slider-arrow {
	position: absolute;
	text-indent: -99999px;
	padding: 0;
	border: 0;
	line-height: 0;
	top: calc(50% - 26px);
	background-color: transparent;
	&:hover {
		cursor: pointer;
	}
	&.left {
		left: -34px;
		@include sprite($arrow_left);
		&:hover {
			@include sprite($arrow_left_hov);
		}
	}
	&.right {
		right: -4px;
		@include sprite($arrow_right);
		&:hover {
			@include sprite($arrow_right_hov);
		}
	}
}
/**** DOTS ****/
.slider-dots {
	position: absolute;
	bottom: -20px;
	left: 0;
	right: 0;
	text-align: center;
}
.slick-dots {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;

	li {
		display: inline-block;
		margin: 0 3px;
		button {
			padding: 0;
			border: 0;
			text-indent: -9999px;
			background-color: transparent;
			@include sprite($dot);
		}
		&.slick-active {
			button {
				@include sprite($dot_act);
			}
		}
		&:hover {
			button {
				@include sprite($dot_act);
			}
		}
	}

}

.review {
	color: $grey;
	&__name {
		@include font(18,24,700);
		color: #000;
	}
	&__date {
		@include font(14,24);
	}
	&__txt {
		@include font(14,24);
		div {
			font-weight: 700;
			margin-top: 10px;
		}
	}
}
