// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-hov-name: 'arrow_left_hov';
$arrow-left-hov-x: 207px;
$arrow-left-hov-y: 80px;
$arrow-left-hov-offset-x: -207px;
$arrow-left-hov-offset-y: -80px;
$arrow-left-hov-width: 68px;
$arrow-left-hov-height: 68px;
$arrow-left-hov-total-width: 309px;
$arrow-left-hov-total-height: 274px;
$arrow-left-hov-image: '../images/sprite.png';
$arrow-left-hov: (207px, 80px, -207px, -80px, 68px, 68px, 309px, 274px, '../images/sprite.png', 'arrow_left_hov', );
$arrow-left-name: 'arrow_left';
$arrow-left-x: 136px;
$arrow-left-y: 150px;
$arrow-left-offset-x: -136px;
$arrow-left-offset-y: -150px;
$arrow-left-width: 68px;
$arrow-left-height: 68px;
$arrow-left-total-width: 309px;
$arrow-left-total-height: 274px;
$arrow-left-image: '../images/sprite.png';
$arrow-left: (136px, 150px, -136px, -150px, 68px, 68px, 309px, 274px, '../images/sprite.png', 'arrow_left', );
$arrow-right-hov-name: 'arrow_right_hov';
$arrow-right-hov-x: 68px;
$arrow-right-hov-y: 150px;
$arrow-right-hov-offset-x: -68px;
$arrow-right-hov-offset-y: -150px;
$arrow-right-hov-width: 68px;
$arrow-right-hov-height: 68px;
$arrow-right-hov-total-width: 309px;
$arrow-right-hov-total-height: 274px;
$arrow-right-hov-image: '../images/sprite.png';
$arrow-right-hov: (68px, 150px, -68px, -150px, 68px, 68px, 309px, 274px, '../images/sprite.png', 'arrow_right_hov', );
$arrow-right-name: 'arrow_right';
$arrow-right-x: 0px;
$arrow-right-y: 150px;
$arrow-right-offset-x: 0px;
$arrow-right-offset-y: -150px;
$arrow-right-width: 68px;
$arrow-right-height: 68px;
$arrow-right-total-width: 309px;
$arrow-right-total-height: 274px;
$arrow-right-image: '../images/sprite.png';
$arrow-right: (0px, 150px, 0px, -150px, 68px, 68px, 309px, 274px, '../images/sprite.png', 'arrow_right', );
$chkbox-act-name: 'chkbox_act';
$chkbox-act-x: 287px;
$chkbox-act-y: 249px;
$chkbox-act-offset-x: -287px;
$chkbox-act-offset-y: -249px;
$chkbox-act-width: 16px;
$chkbox-act-height: 16px;
$chkbox-act-total-width: 309px;
$chkbox-act-total-height: 274px;
$chkbox-act-image: '../images/sprite.png';
$chkbox-act: (287px, 249px, -287px, -249px, 16px, 16px, 309px, 274px, '../images/sprite.png', 'chkbox_act', );
$chkbox-name: 'chkbox';
$chkbox-x: 80px;
$chkbox-y: 254px;
$chkbox-offset-x: -80px;
$chkbox-offset-y: -254px;
$chkbox-width: 16px;
$chkbox-height: 16px;
$chkbox-total-width: 309px;
$chkbox-total-height: 274px;
$chkbox-image: '../images/sprite.png';
$chkbox: (80px, 254px, -80px, -254px, 16px, 16px, 309px, 274px, '../images/sprite.png', 'chkbox', );
$corner-name: 'corner';
$corner-x: 0px;
$corner-y: 0px;
$corner-offset-x: 0px;
$corner-offset-y: 0px;
$corner-width: 207px;
$corner-height: 70px;
$corner-total-width: 309px;
$corner-total-height: 274px;
$corner-image: '../images/sprite.png';
$corner: (0px, 0px, 0px, 0px, 207px, 70px, 309px, 274px, '../images/sprite.png', 'corner', );
$dot-act-name: 'dot_act';
$dot-act-x: 287px;
$dot-act-y: 152px;
$dot-act-offset-x: -287px;
$dot-act-offset-y: -152px;
$dot-act-width: 20px;
$dot-act-height: 21px;
$dot-act-total-width: 309px;
$dot-act-total-height: 274px;
$dot-act-image: '../images/sprite.png';
$dot-act: (287px, 152px, -287px, -152px, 20px, 21px, 309px, 274px, '../images/sprite.png', 'dot_act', );
$dot-name: 'dot';
$dot-x: 287px;
$dot-y: 173px;
$dot-offset-x: -287px;
$dot-offset-y: -173px;
$dot-width: 20px;
$dot-height: 21px;
$dot-total-width: 309px;
$dot-total-height: 274px;
$dot-image: '../images/sprite.png';
$dot: (287px, 173px, -287px, -173px, 20px, 21px, 309px, 274px, '../images/sprite.png', 'dot', );
$icon-accordion-name: 'icon_accordion';
$icon-accordion-x: 204px;
$icon-accordion-y: 186px;
$icon-accordion-offset-x: -204px;
$icon-accordion-offset-y: -186px;
$icon-accordion-width: 32px;
$icon-accordion-height: 32px;
$icon-accordion-total-width: 309px;
$icon-accordion-total-height: 274px;
$icon-accordion-image: '../images/sprite.png';
$icon-accordion: (204px, 186px, -204px, -186px, 32px, 32px, 309px, 274px, '../images/sprite.png', 'icon_accordion', );
$icon-arrow-name: 'icon_arrow';
$icon-arrow-x: 299px;
$icon-arrow-y: 265px;
$icon-arrow-offset-x: -299px;
$icon-arrow-offset-y: -265px;
$icon-arrow-width: 9px;
$icon-arrow-height: 8px;
$icon-arrow-total-width: 309px;
$icon-arrow-total-height: 274px;
$icon-arrow-image: '../images/sprite.png';
$icon-arrow: (299px, 265px, -299px, -265px, 9px, 8px, 309px, 274px, '../images/sprite.png', 'icon_arrow', );
$icon-date-name: 'icon_date';
$icon-date-x: 287px;
$icon-date-y: 44px;
$icon-date-offset-x: -287px;
$icon-date-offset-y: -44px;
$icon-date-width: 21px;
$icon-date-height: 21px;
$icon-date-total-width: 309px;
$icon-date-total-height: 274px;
$icon-date-image: '../images/sprite.png';
$icon-date: (287px, 44px, -287px, -44px, 21px, 21px, 309px, 274px, '../images/sprite.png', 'icon_date', );
$icon-forprint-name: 'icon_forprint';
$icon-forprint-x: 287px;
$icon-forprint-y: 211px;
$icon-forprint-offset-x: -287px;
$icon-forprint-offset-y: -211px;
$icon-forprint-width: 20px;
$icon-forprint-height: 17px;
$icon-forprint-total-width: 309px;
$icon-forprint-total-height: 274px;
$icon-forprint-image: '../images/sprite.png';
$icon-forprint: (287px, 211px, -287px, -211px, 20px, 17px, 309px, 274px, '../images/sprite.png', 'icon_forprint', );
$icon-gps-name: 'icon_gps';
$icon-gps-x: 287px;
$icon-gps-y: 86px;
$icon-gps-offset-x: -287px;
$icon-gps-offset-y: -86px;
$icon-gps-width: 21px;
$icon-gps-height: 21px;
$icon-gps-total-width: 309px;
$icon-gps-total-height: 274px;
$icon-gps-image: '../images/sprite.png';
$icon-gps: (287px, 86px, -287px, -86px, 21px, 21px, 309px, 274px, '../images/sprite.png', 'icon_gps', );
$icon-location-name: 'icon_location';
$icon-location-x: 287px;
$icon-location-y: 128px;
$icon-location-offset-x: -287px;
$icon-location-offset-y: -128px;
$icon-location-width: 18px;
$icon-location-height: 24px;
$icon-location-total-width: 309px;
$icon-location-total-height: 274px;
$icon-location-image: '../images/sprite.png';
$icon-location: (287px, 128px, -287px, -128px, 18px, 24px, 309px, 274px, '../images/sprite.png', 'icon_location', );
$icon-mail-name: 'icon_mail';
$icon-mail-x: 287px;
$icon-mail-y: 194px;
$icon-mail-offset-x: -287px;
$icon-mail-offset-y: -194px;
$icon-mail-width: 21px;
$icon-mail-height: 17px;
$icon-mail-total-width: 309px;
$icon-mail-total-height: 274px;
$icon-mail-image: '../images/sprite.png';
$icon-mail: (287px, 194px, -287px, -194px, 21px, 17px, 309px, 274px, '../images/sprite.png', 'icon_mail', );
$icon-mob-name: 'icon_mob';
$icon-mob-x: 287px;
$icon-mob-y: 228px;
$icon-mob-offset-x: -287px;
$icon-mob-offset-y: -228px;
$icon-mob-width: 16px;
$icon-mob-height: 21px;
$icon-mob-total-width: 309px;
$icon-mob-total-height: 274px;
$icon-mob-image: '../images/sprite.png';
$icon-mob: (287px, 228px, -287px, -228px, 16px, 21px, 309px, 274px, '../images/sprite.png', 'icon_mob', );
$icon-phone-name: 'icon_phone';
$icon-phone-x: 263px;
$icon-phone-y: 186px;
$icon-phone-offset-x: -263px;
$icon-phone-offset-y: -186px;
$icon-phone-width: 24px;
$icon-phone-height: 23px;
$icon-phone-total-width: 309px;
$icon-phone-total-height: 274px;
$icon-phone-image: '../images/sprite.png';
$icon-phone: (263px, 186px, -263px, -186px, 24px, 23px, 309px, 274px, '../images/sprite.png', 'icon_phone', );
$icon-readall-name: 'icon_readall';
$icon-readall-x: 287px;
$icon-readall-y: 107px;
$icon-readall-offset-x: -287px;
$icon-readall-offset-y: -107px;
$icon-readall-width: 21px;
$icon-readall-height: 21px;
$icon-readall-total-width: 309px;
$icon-readall-total-height: 274px;
$icon-readall-image: '../images/sprite.png';
$icon-readall: (287px, 107px, -287px, -107px, 21px, 21px, 309px, 274px, '../images/sprite.png', 'icon_readall', );
$icon-reviews-name: 'icon_reviews';
$icon-reviews-x: 96px;
$icon-reviews-y: 254px;
$icon-reviews-offset-x: -96px;
$icon-reviews-offset-y: -254px;
$icon-reviews-width: 16px;
$icon-reviews-height: 16px;
$icon-reviews-total-width: 309px;
$icon-reviews-total-height: 274px;
$icon-reviews-image: '../images/sprite.png';
$icon-reviews: (96px, 254px, -96px, -254px, 16px, 16px, 309px, 274px, '../images/sprite.png', 'icon_reviews', );
$icon-search-name: 'icon_search';
$icon-search-x: 204px;
$icon-search-y: 150px;
$icon-search-offset-x: -204px;
$icon-search-offset-y: -150px;
$icon-search-width: 36px;
$icon-search-height: 36px;
$icon-search-total-width: 309px;
$icon-search-total-height: 274px;
$icon-search-image: '../images/sprite.png';
$icon-search: (204px, 150px, -204px, -150px, 36px, 36px, 309px, 274px, '../images/sprite.png', 'icon_search', );
$icon-select-name: 'icon_select';
$icon-select-x: 287px;
$icon-select-y: 265px;
$icon-select-offset-x: -287px;
$icon-select-offset-y: -265px;
$icon-select-width: 12px;
$icon-select-height: 8px;
$icon-select-total-width: 309px;
$icon-select-total-height: 274px;
$icon-select-image: '../images/sprite.png';
$icon-select: (287px, 265px, -287px, -265px, 12px, 8px, 309px, 274px, '../images/sprite.png', 'icon_select', );
$icon-time-name: 'icon_time';
$icon-time-x: 287px;
$icon-time-y: 0px;
$icon-time-offset-x: -287px;
$icon-time-offset-y: 0px;
$icon-time-width: 22px;
$icon-time-height: 22px;
$icon-time-total-width: 309px;
$icon-time-total-height: 274px;
$icon-time-image: '../images/sprite.png';
$icon-time: (287px, 0px, -287px, 0px, 22px, 22px, 309px, 274px, '../images/sprite.png', 'icon_time', );
$icon-whatsapp-name: 'icon_whatsapp';
$icon-whatsapp-x: 287px;
$icon-whatsapp-y: 65px;
$icon-whatsapp-offset-x: -287px;
$icon-whatsapp-offset-y: -65px;
$icon-whatsapp-width: 21px;
$icon-whatsapp-height: 21px;
$icon-whatsapp-total-width: 309px;
$icon-whatsapp-total-height: 274px;
$icon-whatsapp-image: '../images/sprite.png';
$icon-whatsapp: (287px, 65px, -287px, -65px, 21px, 21px, 309px, 274px, '../images/sprite.png', 'icon_whatsapp', );
$icon-wiber-name: 'icon_wiber';
$icon-wiber-x: 287px;
$icon-wiber-y: 22px;
$icon-wiber-offset-x: -287px;
$icon-wiber-offset-y: -22px;
$icon-wiber-width: 22px;
$icon-wiber-height: 22px;
$icon-wiber-total-width: 309px;
$icon-wiber-total-height: 274px;
$icon-wiber-image: '../images/sprite.png';
$icon-wiber: (287px, 22px, -287px, -22px, 22px, 22px, 309px, 274px, '../images/sprite.png', 'icon_wiber', );
$present-top-01-name: 'present_top_01';
$present-top-01-x: 207px;
$present-top-01-y: 0px;
$present-top-01-offset-x: -207px;
$present-top-01-offset-y: 0px;
$present-top-01-width: 80px;
$present-top-01-height: 80px;
$present-top-01-total-width: 309px;
$present-top-01-total-height: 274px;
$present-top-01-image: '../images/sprite.png';
$present-top-01: (207px, 0px, -207px, 0px, 80px, 80px, 309px, 274px, '../images/sprite.png', 'present_top_01', );
$present-top-02-name: 'present_top_02';
$present-top-02-x: 80px;
$present-top-02-y: 70px;
$present-top-02-offset-x: -80px;
$present-top-02-offset-y: -70px;
$present-top-02-width: 80px;
$present-top-02-height: 80px;
$present-top-02-total-width: 309px;
$present-top-02-total-height: 274px;
$present-top-02-image: '../images/sprite.png';
$present-top-02: (80px, 70px, -80px, -70px, 80px, 80px, 309px, 274px, '../images/sprite.png', 'present_top_02', );
$present-top-03-name: 'present_top_03';
$present-top-03-x: 0px;
$present-top-03-y: 70px;
$present-top-03-offset-x: 0px;
$present-top-03-offset-y: -70px;
$present-top-03-width: 80px;
$present-top-03-height: 80px;
$present-top-03-total-width: 309px;
$present-top-03-total-height: 274px;
$present-top-03-image: '../images/sprite.png';
$present-top-03: (0px, 70px, 0px, -70px, 80px, 80px, 309px, 274px, '../images/sprite.png', 'present_top_03', );
$q-name: 'q';
$q-x: 112px;
$q-y: 254px;
$q-offset-x: -112px;
$q-offset-y: -254px;
$q-width: 15px;
$q-height: 15px;
$q-total-width: 309px;
$q-total-height: 274px;
$q-image: '../images/sprite.png';
$q: (112px, 254px, -112px, -254px, 15px, 15px, 309px, 274px, '../images/sprite.png', 'q', );
$soc-fb-name: 'soc_fb';
$soc-fb-x: 160px;
$soc-fb-y: 106px;
$soc-fb-offset-x: -160px;
$soc-fb-offset-y: -106px;
$soc-fb-width: 36px;
$soc-fb-height: 36px;
$soc-fb-total-width: 309px;
$soc-fb-total-height: 274px;
$soc-fb-image: '../images/sprite.png';
$soc-fb: (160px, 106px, -160px, -106px, 36px, 36px, 309px, 274px, '../images/sprite.png', 'soc_fb', );
$soc-in-name: 'soc_in';
$soc-in-x: 36px;
$soc-in-y: 218px;
$soc-in-offset-x: -36px;
$soc-in-offset-y: -218px;
$soc-in-width: 36px;
$soc-in-height: 36px;
$soc-in-total-width: 309px;
$soc-in-total-height: 274px;
$soc-in-image: '../images/sprite.png';
$soc-in: (36px, 218px, -36px, -218px, 36px, 36px, 309px, 274px, '../images/sprite.png', 'soc_in', );
$soc-ok-name: 'soc_ok';
$soc-ok-x: 240px;
$soc-ok-y: 150px;
$soc-ok-offset-x: -240px;
$soc-ok-offset-y: -150px;
$soc-ok-width: 36px;
$soc-ok-height: 36px;
$soc-ok-total-width: 309px;
$soc-ok-total-height: 274px;
$soc-ok-image: '../images/sprite.png';
$soc-ok: (240px, 150px, -240px, -150px, 36px, 36px, 309px, 274px, '../images/sprite.png', 'soc_ok', );
$soc-vk-name: 'soc_vk';
$soc-vk-x: 160px;
$soc-vk-y: 70px;
$soc-vk-offset-x: -160px;
$soc-vk-offset-y: -70px;
$soc-vk-width: 36px;
$soc-vk-height: 36px;
$soc-vk-total-width: 309px;
$soc-vk-total-height: 274px;
$soc-vk-image: '../images/sprite.png';
$soc-vk: (160px, 70px, -160px, -70px, 36px, 36px, 309px, 274px, '../images/sprite.png', 'soc_vk', );
$soc-yt-name: 'soc_yt';
$soc-yt-x: 0px;
$soc-yt-y: 218px;
$soc-yt-offset-x: 0px;
$soc-yt-offset-y: -218px;
$soc-yt-width: 36px;
$soc-yt-height: 36px;
$soc-yt-total-width: 309px;
$soc-yt-total-height: 274px;
$soc-yt-image: '../images/sprite.png';
$soc-yt: (0px, 218px, 0px, -218px, 36px, 36px, 309px, 274px, '../images/sprite.png', 'soc_yt', );
$tech-01-name: 'tech_01';
$tech-01-x: 54px;
$tech-01-y: 254px;
$tech-01-offset-x: -54px;
$tech-01-offset-y: -254px;
$tech-01-width: 26px;
$tech-01-height: 17px;
$tech-01-total-width: 309px;
$tech-01-total-height: 274px;
$tech-01-image: '../images/sprite.png';
$tech-01: (54px, 254px, -54px, -254px, 26px, 17px, 309px, 274px, '../images/sprite.png', 'tech_01', );
$tech-02-name: 'tech_02';
$tech-02-x: 72px;
$tech-02-y: 218px;
$tech-02-offset-x: -72px;
$tech-02-offset-y: -218px;
$tech-02-width: 26px;
$tech-02-height: 23px;
$tech-02-total-width: 309px;
$tech-02-total-height: 274px;
$tech-02-image: '../images/sprite.png';
$tech-02: (72px, 218px, -72px, -218px, 26px, 23px, 309px, 274px, '../images/sprite.png', 'tech_02', );
$tech-03-name: 'tech_03';
$tech-03-x: 206px;
$tech-03-y: 218px;
$tech-03-offset-x: -206px;
$tech-03-offset-y: -218px;
$tech-03-width: 26px;
$tech-03-height: 22px;
$tech-03-total-width: 309px;
$tech-03-total-height: 274px;
$tech-03-image: '../images/sprite.png';
$tech-03: (206px, 218px, -206px, -218px, 26px, 22px, 309px, 274px, '../images/sprite.png', 'tech_03', );
$tech-04-name: 'tech_04';
$tech-04-x: 125px;
$tech-04-y: 218px;
$tech-04-offset-x: -125px;
$tech-04-offset-y: -218px;
$tech-04-width: 27px;
$tech-04-height: 22px;
$tech-04-total-width: 309px;
$tech-04-total-height: 274px;
$tech-04-image: '../images/sprite.png';
$tech-04: (125px, 218px, -125px, -218px, 27px, 22px, 309px, 274px, '../images/sprite.png', 'tech_04', );
$tech-05-name: 'tech_05';
$tech-05-x: 152px;
$tech-05-y: 218px;
$tech-05-offset-x: -152px;
$tech-05-offset-y: -218px;
$tech-05-width: 27px;
$tech-05-height: 22px;
$tech-05-total-width: 309px;
$tech-05-total-height: 274px;
$tech-05-image: '../images/sprite.png';
$tech-05: (152px, 218px, -152px, -218px, 27px, 22px, 309px, 274px, '../images/sprite.png', 'tech_05', );
$tech-06-name: 'tech_06';
$tech-06-x: 179px;
$tech-06-y: 218px;
$tech-06-offset-x: -179px;
$tech-06-offset-y: -218px;
$tech-06-width: 27px;
$tech-06-height: 22px;
$tech-06-total-width: 309px;
$tech-06-total-height: 274px;
$tech-06-image: '../images/sprite.png';
$tech-06: (179px, 218px, -179px, -218px, 27px, 22px, 309px, 274px, '../images/sprite.png', 'tech_06', );
$tech-07-name: 'tech_07';
$tech-07-x: 259px;
$tech-07-y: 218px;
$tech-07-offset-x: -259px;
$tech-07-offset-y: -218px;
$tech-07-width: 27px;
$tech-07-height: 20px;
$tech-07-total-width: 309px;
$tech-07-total-height: 274px;
$tech-07-image: '../images/sprite.png';
$tech-07: (259px, 218px, -259px, -218px, 27px, 20px, 309px, 274px, '../images/sprite.png', 'tech_07', );
$tech-08-name: 'tech_08';
$tech-08-x: 98px;
$tech-08-y: 218px;
$tech-08-offset-x: -98px;
$tech-08-offset-y: -218px;
$tech-08-width: 27px;
$tech-08-height: 22px;
$tech-08-total-width: 309px;
$tech-08-total-height: 274px;
$tech-08-image: '../images/sprite.png';
$tech-08: (98px, 218px, -98px, -218px, 27px, 22px, 309px, 274px, '../images/sprite.png', 'tech_08', );
$tech-09-name: 'tech_09';
$tech-09-x: 0px;
$tech-09-y: 254px;
$tech-09-offset-x: 0px;
$tech-09-offset-y: -254px;
$tech-09-width: 27px;
$tech-09-height: 20px;
$tech-09-total-width: 309px;
$tech-09-total-height: 274px;
$tech-09-image: '../images/sprite.png';
$tech-09: (0px, 254px, 0px, -254px, 27px, 20px, 309px, 274px, '../images/sprite.png', 'tech_09', );
$tech-10-name: 'tech_10';
$tech-10-x: 232px;
$tech-10-y: 218px;
$tech-10-offset-x: -232px;
$tech-10-offset-y: -218px;
$tech-10-width: 27px;
$tech-10-height: 21px;
$tech-10-total-width: 309px;
$tech-10-total-height: 274px;
$tech-10-image: '../images/sprite.png';
$tech-10: (232px, 218px, -232px, -218px, 27px, 21px, 309px, 274px, '../images/sprite.png', 'tech_10', );
$tech-11-name: 'tech_11';
$tech-11-x: 27px;
$tech-11-y: 254px;
$tech-11-offset-x: -27px;
$tech-11-offset-y: -254px;
$tech-11-width: 27px;
$tech-11-height: 20px;
$tech-11-total-width: 309px;
$tech-11-total-height: 274px;
$tech-11-image: '../images/sprite.png';
$tech-11: (27px, 254px, -27px, -254px, 27px, 20px, 309px, 274px, '../images/sprite.png', 'tech_11', );
$tech-12-name: 'tech_12';
$tech-12-x: 236px;
$tech-12-y: 186px;
$tech-12-offset-x: -236px;
$tech-12-offset-y: -186px;
$tech-12-width: 27px;
$tech-12-height: 23px;
$tech-12-total-width: 309px;
$tech-12-total-height: 274px;
$tech-12-image: '../images/sprite.png';
$tech-12: (236px, 186px, -236px, -186px, 27px, 23px, 309px, 274px, '../images/sprite.png', 'tech_12', );
$spritesheet-width: 309px;
$spritesheet-height: 274px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-left-hov, $arrow-left, $arrow-right-hov, $arrow-right, $chkbox-act, $chkbox, $corner, $dot-act, $dot, $icon-accordion, $icon-arrow, $icon-date, $icon-forprint, $icon-gps, $icon-location, $icon-mail, $icon-mob, $icon-phone, $icon-readall, $icon-reviews, $icon-search, $icon-select, $icon-time, $icon-whatsapp, $icon-wiber, $present-top-01, $present-top-02, $present-top-03, $q, $soc-fb, $soc-in, $soc-ok, $soc-vk, $soc-yt, $tech-01, $tech-02, $tech-03, $tech-04, $tech-05, $tech-06, $tech-07, $tech-08, $tech-09, $tech-10, $tech-11, $tech-12, );
$spritesheet: (309px, 274px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
