// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-name: 'arrow_left';
$arrow-left-x: 0px;
$arrow-left-y: 0px;
$arrow-left-offset-x: 0px;
$arrow-left-offset-y: 0px;
$arrow-left-width: 68px;
$arrow-left-height: 68px;
$arrow-left-total-width: 172px;
$arrow-left-total-height: 146px;
$arrow-left-image: '../images/sprite.png';
$arrow-left: (0px, 0px, 0px, 0px, 68px, 68px, 172px, 146px, '../images/sprite.png', 'arrow_left', );
$arrow-right-name: 'arrow_right';
$arrow-right-x: 68px;
$arrow-right-y: 0px;
$arrow-right-offset-x: -68px;
$arrow-right-offset-y: 0px;
$arrow-right-width: 68px;
$arrow-right-height: 68px;
$arrow-right-total-width: 172px;
$arrow-right-total-height: 146px;
$arrow-right-image: '../images/sprite.png';
$arrow-right: (68px, 0px, -68px, 0px, 68px, 68px, 172px, 146px, '../images/sprite.png', 'arrow_right', );
$dot-act-name: 'dot_act';
$dot-act-x: 18px;
$dot-act-y: 128px;
$dot-act-offset-x: -18px;
$dot-act-offset-y: -128px;
$dot-act-width: 18px;
$dot-act-height: 18px;
$dot-act-total-width: 172px;
$dot-act-total-height: 146px;
$dot-act-image: '../images/sprite.png';
$dot-act: (18px, 128px, -18px, -128px, 18px, 18px, 172px, 146px, '../images/sprite.png', 'dot_act', );
$dot-name: 'dot';
$dot-x: 0px;
$dot-y: 128px;
$dot-offset-x: 0px;
$dot-offset-y: -128px;
$dot-width: 18px;
$dot-height: 18px;
$dot-total-width: 172px;
$dot-total-height: 146px;
$dot-image: '../images/sprite.png';
$dot: (0px, 128px, 0px, -128px, 18px, 18px, 172px, 146px, '../images/sprite.png', 'dot', );
$icon-forprint-name: 'icon_forprint';
$icon-forprint-x: 18px;
$icon-forprint-y: 104px;
$icon-forprint-offset-x: -18px;
$icon-forprint-offset-y: -104px;
$icon-forprint-width: 20px;
$icon-forprint-height: 17px;
$icon-forprint-total-width: 172px;
$icon-forprint-total-height: 146px;
$icon-forprint-image: '../images/sprite.png';
$icon-forprint: (18px, 104px, -18px, -104px, 20px, 17px, 172px, 146px, '../images/sprite.png', 'icon_forprint', );
$icon-location-name: 'icon_location';
$icon-location-x: 0px;
$icon-location-y: 104px;
$icon-location-offset-x: 0px;
$icon-location-offset-y: -104px;
$icon-location-width: 18px;
$icon-location-height: 24px;
$icon-location-total-width: 172px;
$icon-location-total-height: 146px;
$icon-location-image: '../images/sprite.png';
$icon-location: (0px, 104px, 0px, -104px, 18px, 24px, 172px, 146px, '../images/sprite.png', 'icon_location', );
$icon-phone-name: 'icon_phone';
$icon-phone-x: 136px;
$icon-phone-y: 72px;
$icon-phone-offset-x: -136px;
$icon-phone-offset-y: -72px;
$icon-phone-width: 24px;
$icon-phone-height: 23px;
$icon-phone-total-width: 172px;
$icon-phone-total-height: 146px;
$icon-phone-image: '../images/sprite.png';
$icon-phone: (136px, 72px, -136px, -72px, 24px, 23px, 172px, 146px, '../images/sprite.png', 'icon_phone', );
$icon-readall-name: 'icon_readall';
$icon-readall-x: 108px;
$icon-readall-y: 68px;
$icon-readall-offset-x: -108px;
$icon-readall-offset-y: -68px;
$icon-readall-width: 21px;
$icon-readall-height: 21px;
$icon-readall-total-width: 172px;
$icon-readall-total-height: 146px;
$icon-readall-image: '../images/sprite.png';
$icon-readall: (108px, 68px, -108px, -68px, 21px, 21px, 172px, 146px, '../images/sprite.png', 'icon_readall', );
$icon-reviews-name: 'icon_reviews';
$icon-reviews-x: 38px;
$icon-reviews-y: 104px;
$icon-reviews-offset-x: -38px;
$icon-reviews-offset-y: -104px;
$icon-reviews-width: 16px;
$icon-reviews-height: 16px;
$icon-reviews-total-width: 172px;
$icon-reviews-total-height: 146px;
$icon-reviews-image: '../images/sprite.png';
$icon-reviews: (38px, 104px, -38px, -104px, 16px, 16px, 172px, 146px, '../images/sprite.png', 'icon_reviews', );
$soc-fb-name: 'soc_fb';
$soc-fb-x: 136px;
$soc-fb-y: 0px;
$soc-fb-offset-x: -136px;
$soc-fb-offset-y: 0px;
$soc-fb-width: 36px;
$soc-fb-height: 36px;
$soc-fb-total-width: 172px;
$soc-fb-total-height: 146px;
$soc-fb-image: '../images/sprite.png';
$soc-fb: (136px, 0px, -136px, 0px, 36px, 36px, 172px, 146px, '../images/sprite.png', 'soc_fb', );
$soc-instogram-name: 'soc_instogram';
$soc-instogram-x: 72px;
$soc-instogram-y: 68px;
$soc-instogram-offset-x: -72px;
$soc-instogram-offset-y: -68px;
$soc-instogram-width: 36px;
$soc-instogram-height: 36px;
$soc-instogram-total-width: 172px;
$soc-instogram-total-height: 146px;
$soc-instogram-image: '../images/sprite.png';
$soc-instogram: (72px, 68px, -72px, -68px, 36px, 36px, 172px, 146px, '../images/sprite.png', 'soc_instogram', );
$soc-ok-name: 'soc_ok';
$soc-ok-x: 36px;
$soc-ok-y: 68px;
$soc-ok-offset-x: -36px;
$soc-ok-offset-y: -68px;
$soc-ok-width: 36px;
$soc-ok-height: 36px;
$soc-ok-total-width: 172px;
$soc-ok-total-height: 146px;
$soc-ok-image: '../images/sprite.png';
$soc-ok: (36px, 68px, -36px, -68px, 36px, 36px, 172px, 146px, '../images/sprite.png', 'soc_ok', );
$soc-vk-name: 'soc_vk';
$soc-vk-x: 0px;
$soc-vk-y: 68px;
$soc-vk-offset-x: 0px;
$soc-vk-offset-y: -68px;
$soc-vk-width: 36px;
$soc-vk-height: 36px;
$soc-vk-total-width: 172px;
$soc-vk-total-height: 146px;
$soc-vk-image: '../images/sprite.png';
$soc-vk: (0px, 68px, 0px, -68px, 36px, 36px, 172px, 146px, '../images/sprite.png', 'soc_vk', );
$soc-youtube-name: 'soc_youtube';
$soc-youtube-x: 136px;
$soc-youtube-y: 36px;
$soc-youtube-offset-x: -136px;
$soc-youtube-offset-y: -36px;
$soc-youtube-width: 36px;
$soc-youtube-height: 36px;
$soc-youtube-total-width: 172px;
$soc-youtube-total-height: 146px;
$soc-youtube-image: '../images/sprite.png';
$soc-youtube: (136px, 36px, -136px, -36px, 36px, 36px, 172px, 146px, '../images/sprite.png', 'soc_youtube', );
$spritesheet-width: 172px;
$spritesheet-height: 146px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-left, $arrow-right, $dot-act, $dot, $icon-forprint, $icon-location, $icon-phone, $icon-readall, $icon-reviews, $soc-fb, $soc-instogram, $soc-ok, $soc-vk, $soc-youtube, );
$spritesheet: (172px, 146px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
