// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-name: 'arrow_left';
$arrow-left-x: 0px;
$arrow-left-y: 70px;
$arrow-left-offset-x: 0px;
$arrow-left-offset-y: -70px;
$arrow-left-width: 68px;
$arrow-left-height: 68px;
$arrow-left-total-width: 207px;
$arrow-left-total-height: 174px;
$arrow-left-image: '../images/sprite.png';
$arrow-left: (0px, 70px, 0px, -70px, 68px, 68px, 207px, 174px, '../images/sprite.png', 'arrow_left', );
$arrow-right-name: 'arrow_right';
$arrow-right-x: 68px;
$arrow-right-y: 70px;
$arrow-right-offset-x: -68px;
$arrow-right-offset-y: -70px;
$arrow-right-width: 68px;
$arrow-right-height: 68px;
$arrow-right-total-width: 207px;
$arrow-right-total-height: 174px;
$arrow-right-image: '../images/sprite.png';
$arrow-right: (68px, 70px, -68px, -70px, 68px, 68px, 207px, 174px, '../images/sprite.png', 'arrow_right', );
$corner-name: 'corner';
$corner-x: 0px;
$corner-y: 0px;
$corner-offset-x: 0px;
$corner-offset-y: 0px;
$corner-width: 207px;
$corner-height: 70px;
$corner-total-width: 207px;
$corner-total-height: 174px;
$corner-image: '../images/sprite.png';
$corner: (0px, 0px, 0px, 0px, 207px, 70px, 207px, 174px, '../images/sprite.png', 'corner', );
$dot-act-name: 'dot_act';
$dot-act-x: 157px;
$dot-act-y: 106px;
$dot-act-offset-x: -157px;
$dot-act-offset-y: -106px;
$dot-act-width: 20px;
$dot-act-height: 21px;
$dot-act-total-width: 207px;
$dot-act-total-height: 174px;
$dot-act-image: '../images/sprite.png';
$dot-act: (157px, 106px, -157px, -106px, 20px, 21px, 207px, 174px, '../images/sprite.png', 'dot_act', );
$dot-name: 'dot';
$dot-x: 162px;
$dot-y: 138px;
$dot-offset-x: -162px;
$dot-offset-y: -138px;
$dot-width: 18px;
$dot-height: 18px;
$dot-total-width: 207px;
$dot-total-height: 174px;
$dot-image: '../images/sprite.png';
$dot: (162px, 138px, -162px, -138px, 18px, 18px, 207px, 174px, '../images/sprite.png', 'dot', );
$icon-forprint-name: 'icon_forprint';
$icon-forprint-x: 177px;
$icon-forprint-y: 106px;
$icon-forprint-offset-x: -177px;
$icon-forprint-offset-y: -106px;
$icon-forprint-width: 20px;
$icon-forprint-height: 17px;
$icon-forprint-total-width: 207px;
$icon-forprint-total-height: 174px;
$icon-forprint-image: '../images/sprite.png';
$icon-forprint: (177px, 106px, -177px, -106px, 20px, 17px, 207px, 174px, '../images/sprite.png', 'icon_forprint', );
$icon-location-name: 'icon_location';
$icon-location-x: 144px;
$icon-location-y: 138px;
$icon-location-offset-x: -144px;
$icon-location-offset-y: -138px;
$icon-location-width: 18px;
$icon-location-height: 24px;
$icon-location-total-width: 207px;
$icon-location-total-height: 174px;
$icon-location-image: '../images/sprite.png';
$icon-location: (144px, 138px, -144px, -138px, 18px, 24px, 207px, 174px, '../images/sprite.png', 'icon_location', );
$icon-phone-name: 'icon_phone';
$icon-phone-x: 172px;
$icon-phone-y: 70px;
$icon-phone-offset-x: -172px;
$icon-phone-offset-y: -70px;
$icon-phone-width: 24px;
$icon-phone-height: 23px;
$icon-phone-total-width: 207px;
$icon-phone-total-height: 174px;
$icon-phone-image: '../images/sprite.png';
$icon-phone: (172px, 70px, -172px, -70px, 24px, 23px, 207px, 174px, '../images/sprite.png', 'icon_phone', );
$icon-readall-name: 'icon_readall';
$icon-readall-x: 136px;
$icon-readall-y: 106px;
$icon-readall-offset-x: -136px;
$icon-readall-offset-y: -106px;
$icon-readall-width: 21px;
$icon-readall-height: 21px;
$icon-readall-total-width: 207px;
$icon-readall-total-height: 174px;
$icon-readall-image: '../images/sprite.png';
$icon-readall: (136px, 106px, -136px, -106px, 21px, 21px, 207px, 174px, '../images/sprite.png', 'icon_readall', );
$icon-reviews-name: 'icon_reviews';
$icon-reviews-x: 180px;
$icon-reviews-y: 138px;
$icon-reviews-offset-x: -180px;
$icon-reviews-offset-y: -138px;
$icon-reviews-width: 16px;
$icon-reviews-height: 16px;
$icon-reviews-total-width: 207px;
$icon-reviews-total-height: 174px;
$icon-reviews-image: '../images/sprite.png';
$icon-reviews: (180px, 138px, -180px, -138px, 16px, 16px, 207px, 174px, '../images/sprite.png', 'icon_reviews', );
$icon-sekect-name: 'icon_sekect';
$icon-sekect-x: 172px;
$icon-sekect-y: 93px;
$icon-sekect-offset-x: -172px;
$icon-sekect-offset-y: -93px;
$icon-sekect-width: 12px;
$icon-sekect-height: 8px;
$icon-sekect-total-width: 207px;
$icon-sekect-total-height: 174px;
$icon-sekect-image: '../images/sprite.png';
$icon-sekect: (172px, 93px, -172px, -93px, 12px, 8px, 207px, 174px, '../images/sprite.png', 'icon_sekect', );
$soc-fb-name: 'soc_fb';
$soc-fb-x: 72px;
$soc-fb-y: 138px;
$soc-fb-offset-x: -72px;
$soc-fb-offset-y: -138px;
$soc-fb-width: 36px;
$soc-fb-height: 36px;
$soc-fb-total-width: 207px;
$soc-fb-total-height: 174px;
$soc-fb-image: '../images/sprite.png';
$soc-fb: (72px, 138px, -72px, -138px, 36px, 36px, 207px, 174px, '../images/sprite.png', 'soc_fb', );
$soc-instogram-name: 'soc_instogram';
$soc-instogram-x: 36px;
$soc-instogram-y: 138px;
$soc-instogram-offset-x: -36px;
$soc-instogram-offset-y: -138px;
$soc-instogram-width: 36px;
$soc-instogram-height: 36px;
$soc-instogram-total-width: 207px;
$soc-instogram-total-height: 174px;
$soc-instogram-image: '../images/sprite.png';
$soc-instogram: (36px, 138px, -36px, -138px, 36px, 36px, 207px, 174px, '../images/sprite.png', 'soc_instogram', );
$soc-ok-name: 'soc_ok';
$soc-ok-x: 0px;
$soc-ok-y: 138px;
$soc-ok-offset-x: 0px;
$soc-ok-offset-y: -138px;
$soc-ok-width: 36px;
$soc-ok-height: 36px;
$soc-ok-total-width: 207px;
$soc-ok-total-height: 174px;
$soc-ok-image: '../images/sprite.png';
$soc-ok: (0px, 138px, 0px, -138px, 36px, 36px, 207px, 174px, '../images/sprite.png', 'soc_ok', );
$soc-vk-name: 'soc_vk';
$soc-vk-x: 136px;
$soc-vk-y: 70px;
$soc-vk-offset-x: -136px;
$soc-vk-offset-y: -70px;
$soc-vk-width: 36px;
$soc-vk-height: 36px;
$soc-vk-total-width: 207px;
$soc-vk-total-height: 174px;
$soc-vk-image: '../images/sprite.png';
$soc-vk: (136px, 70px, -136px, -70px, 36px, 36px, 207px, 174px, '../images/sprite.png', 'soc_vk', );
$soc-youtube-name: 'soc_youtube';
$soc-youtube-x: 108px;
$soc-youtube-y: 138px;
$soc-youtube-offset-x: -108px;
$soc-youtube-offset-y: -138px;
$soc-youtube-width: 36px;
$soc-youtube-height: 36px;
$soc-youtube-total-width: 207px;
$soc-youtube-total-height: 174px;
$soc-youtube-image: '../images/sprite.png';
$soc-youtube: (108px, 138px, -108px, -138px, 36px, 36px, 207px, 174px, '../images/sprite.png', 'soc_youtube', );
$spritesheet-width: 207px;
$spritesheet-height: 174px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-left, $arrow-right, $corner, $dot-act, $dot, $icon-forprint, $icon-location, $icon-phone, $icon-readall, $icon-reviews, $icon-sekect, $soc-fb, $soc-instogram, $soc-ok, $soc-vk, $soc-youtube, );
$spritesheet: (207px, 174px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
