// Box-sizing
* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}
.content {
	overflow: hidden;
}

body {
	font-size: #{$base-font-size}px;
	color: $default-color;
}
p {
	@include font;
}

//Nav

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}


// Links

a {
	color: $orange;
	transition: 0.3s;
	text-decoration: none;
	display: inline-block;
	&:hover,
	&:focus {
		color: darken($orange, 7%);
		text-decoration: underline;
	}

	&[href^="mailto"]{
		color: $orange;
	}
}

// Images

img {
	display: block;
	max-width: 100%;
}

//Buttons

body button:not(.scrollup):not(.slider-arrow):not(.slick-dots button) {
	background: rgb(247,63,89);
	background: linear-gradient(to bottom, rgba(247,63,89,1) 0%,rgba(222,55,78,1) 49%,rgba(218,54,77,1) 50%,rgba(200,48,69,1) 100%);
	color: #fff;
	@include font(30,30, 700);
	text-transform: uppercase;
	padding: 20px 30px;
	border-radius: 5px;
	border: 0;
	box-shadow: 0 1px 0 0 #ff4e67, 0 3px 0 0 #8e094b;
	&:hover {
		background: linear-gradient(to top, rgba(247,63,89,1) 0%,rgba(222,55,78,1) 49%,rgba(218,54,77,1) 50%,rgba(200,48,69,1) 100%);
		box-shadow: 0 1px 0 0 #ff7689, 0 3px 0 0 rgba(247,63,89,1);
	}
}

// Headers

body {
	h1, .h1 {
		@include font(40, 42, 700);
		color: $header;
		margin: 18px 0;
	}
	h2, .h2 {
		@include font(32, 34, 700);
		color: $blue;
		margin: 15px 0;
	}
	h3, .h3 {
		@include font(26, 28, 700);
		color: $blue;
		margin: 10px 0;
	}
}


.btn {
	display: inline-block;
	border: 2px solid $orange;
	border-radius: 20px;
	color: $orange;
	white-space: nowrap;
	@include font(14);
	line-height: 1;
	padding: 11.5px 15px;
	transition: 0.2s ease-out;
	&:hover{
		color: #fff;
		background: $orange;
		border: 2px solid #fff;
		text-decoration: none;
	}
}
.breadcrumbs {
	color: #999;
	margin-bottom: 30px;
	@include breakpoint(mobile) {
		margin-top: 25px;
	}
	&__item {
		@include font(12, 15);
		color: #999;
		transition: 0.3s;
	}
	a {
		@include link(#999);
		border-color: #d6d6d6;
	}
}

.inner {
	margin-bottom: 20px;
}

.inner ul {
	margin: 7px 0;
	padding: 0;
	list-style: none;
	li {
		font-size: 1.1em;
		padding: 5px 0;
		&::before{
			content: "";
			display: inline-block;
			width: 0;
			height: 0;
			border-top: 6px solid transparent;
			border-left: 12px solid $orange;
			border-bottom: 6px solid transparent;
			margin-right: 10px;
		}
	}
}
