 /* Fonts */
$open-sans: 'Open Sans', sans-serif;

$default-font: $open-sans;
$base-font-size: 15;
$base-line-height: 21;
$default-color: #3d4646;

$black: #000;
$link: #3d4646;
$link-hov: $black;
$header: $black;

/* Colors */
$grey: #6f6f6f;
$orange: #ff7e00;
$blue: #0d60ae;

$bkg-footer: #f1f1f1;

